<aside class="sidebar">
    <h2>EMS Admin</h2>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="{% url 'add-employee' %}"><i class="fas fa-user-plus"></i> Add Employee</a></li>
            <li><a href="{% url 'employee_list' %}"><i class="fas fa-users"></i> Employee List</a></li>
            <li><a href="{% url 'approve_leave' %}"><i class="fas fa-envelope-open-text"></i> Approve Leave</a></li>
            <li><a href="{% url 'salary-management' %}"><i class="fas fa-money-check-alt"></i> Salary Management</a></li>
            <li><a href="{% url 'id-cards' %}"><i class="fas fa-id-badge"></i> Generate ID Card</a></li>
            <li><a href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </nav>
</aside>
